%body
  .header
    .header__icon.off#slidL
      %i.fa.fa-bars.fa-3x
        .fa-bars__text メニュー
    %h1 Sample
  .main
    .wrapper
      .contents
        .content
          = render 'new'
          %h2 投稿一覧
          .search
            %input.search__input{name: "keyword", placeholder: "投稿記事を検索", type: "text", value: ""}
            %button.search__btn{type: "submit", title: "検索", type: "hidden"} 検索
          .content__box
            - @messages.each do |message|
              = render partial: 'posts-list', locals: {message: message}
              .comments.none
                %h4 コメント一覧
                .comment
                  -if @comments
                    - @comments.each do |comment|
                      %p
                        %string= link_to current_user.nickname, "/users/#{comment.user_id}"
                        = comment.text
          -# = paginate(@messages)
  .sidebar
    .sidebar__box 
      %h3 サイドメニュー 
      %ul
      - if user_signed_in?
        %span= link_to current_user.nickname,"/users/current_user.id"
        %li.sidebar__box--btn 投稿する
        %li= link_to "ログアウト", destroy_user_session_path, method: :delete
        %li.sidebar__box--search-form 検索する
      - else
        %li= link_to "ログイン", new_user_session_path, class: 'post'
        %li= link_to "新規登録", new_user_registration_path, class: 'post'
  .footer