.contents.rows
  .content
    %h2 詳細
    .content__box
      .content__box-image
        .content__box-images{:style => "background-image: url(#{@messages.image});"}
        - if user_signed_in? && current_user.id == @messages.user.id
          #edit= link_to '編集', "/messages/#{@messages.id}/edit", method: :get
          #delete= link_to '削除', "/messages/#{@messages.id}", method: :delete, data: { confirm: '本当に削除しますか？' }
        = simple_format(@messages.text)
      .container
        - if current_user
          = form_for(@message, url: "/messages/#{@messages.id}/comments", html: {method: 'post'}) do |f|
            = f.text_area :text, cols: '30', rows: '7', placeholder: 'コメントする'
            = f.submit 'Sent'
            = link_to '戻る', "/messages"
      .comments
        %h4 コメント一覧
        .comment
          -if @comments
            - @comments.each do |comment|
              %p
                %string= link_to comment.user.nickname, "/users/#{comment.user_id}"
                = comment.text
                .comment_delete#delete= link_to 'コメントを削除', message_comment_path(@messages, comment), method: :delete, data: { confirm: '本当に削除しますか？' }